<footer>
  <p>Made with ❤️ by <a href="https://github.com/crabstudio/">CrabStudio</a></p>
</footer>

<style>
  footer {
    margin-top: auto;
    padding: 2rem;
    border-top: 3px solid var(--theme-divider);
    text-align: center;
  }
  a {
    color: var(--theme-primary);
    text-decoration: none;
  }
  a:hover {
	text-decoration: underline;
  }
  @keyframes pulse {
	0% {
	  transform: scale(1);
	}
	50% {
	  transform: scale(1.1);
	}
	100% {
	  transform: scale(1);
	}
  }
</style>
